.header
{
    background-color: rgb(19, 25, 33);
    /* width: 100vw; */
    height: 61px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    
    
    
}

.left
{
    display: flex;
    align-items: center;
    padding-left: 21px;
    flex:0.3;
    
}

.left img{
    height: 31px;
}

.middle
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.middle .search-button
{
    flex: 0.05;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 40px;
    background-color: rgb(254, 189, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.middle .search-button img{
    width: 25px;
}
.middle .searchbar
{
    flex: 1;
    max-width: 80%;
}

.middle .searchbar
{
    height: 40px;
    padding-left: 15px;
    border: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0%;
}

.middle .searchbar::placeholder
{
    font-size: 14px;
}





.right
{
    flex: 0.35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right .ret-ord-text
{
    
    color: white;
    width: 70px;
}

.ord 
{
    font-weight: bold;
}


.cart-icon img
{
    width: 40px;
}



